# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
!/log/.keep
!/tmp/.keep

.env
.DS_Store
*.swp
*.rdb
*.swp
.byebug_history
.rake_tasks~

!.keep
*.swo
*.swp
/.foreman
/coverage/*

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
/nbproject
/nbproject/private/

/config/database.yml
config/database.yml

/app/assets/images/posts/*
!/app/assets/images/posts/.keep