<section id='section-top-gestores' class='bg-cover bg-center'>
  <div class="xl:container xl:mx-auto xl:px-20">
    <div class="container mx-auto pt-24 pb-8 xl:pt-32 xl:pb-10">
      <div class='w-full flex flex-wrap'>
        <div class="w-2/3 lg:w-1/2 pr-16 lg:pr-20 xl:pr-32 flex flex-wrap content-center mx-auto">
          <p class="leading-6 text-xl text-black w-full">
            <strong>Gestores Educacionais</strong>
          </p>
          <p class="leading-snug text-sm text-black font-bold w-full mb-4">
            Esperamos que tenha uma boa experiência
          </p>
          <p class="leading-snug text-sm font-color-gray w-full">
            Aqui você encontrará conteúdos para apoiar secretários de Educação e gestores escolares. Escolha o ícone abaixo:
            <strong>Webinar, Oportunidades Formativas ou Notícias</strong> e fique atualizado.
          </p>
        </div>
      </div>
    </div>
    <div class='w-full relative bottom--40' id='top-buttons-gestores'>
      <div class="flex flex-wrap text-center w-3/4 lg:w-2/3 items-center mx-auto px-8 xl:px-12">
        <div class="p-2 lg:p-4 md:w-1/3 w-full">
          <button @click='toggleSelected("0")' :class='{ active: activeBtn === "0" }' 
              class="w-full text-black font-bold py-2 px-4 rounded-full border-indigo-500 border bg-white flex items-center">
            <span class='ml-1'><%= image_tag 'video-call', class: 'w-9 h-9 flex-shrink-0' %></span>
            <span class='w-full'>Webinar</span>
          </button>
        </div>
        <div class="p-2 lg:p-4 md:w-1/3 w-full">
          <button @click='toggleSelected("1")' :class='{ active: activeBtn === "1" }' 
              class="w-full text-black font-bold py-2 px-4 rounded-full border-indigo-500 border bg-white flex items-center">
            <span class='ml-1'><%= image_tag 'graduate', class: 'w-9 h-9 flex-shrink-0' %></span>
            <span class='w-full leading-4'>Oportunidades Formativas</span>
          </button>
        </div>
        <div class="p-2 lg:p-4 md:w-1/3 w-full">
          <button @click='toggleSelected("2")' :class='{ active: activeBtn === "2" }' 
              class="w-full text-black font-bold py-2 px-4 rounded-full border-indigo-500 border bg-white flex items-center">
            <span class='ml-1'><%= image_tag 'newspaper', class: 'w-9 h-9 flex-shrink-0' %></span>
            <span class='w-full'>Notícias</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-700 body-font xl:container xl:mx-auto xl:px-20">
  <%= render 'posts/content', collection: @posts, cache: true %>
</section>

<section class="xl:container xl:mx-auto xl:px-20 py-4">
  <div class="flex flex-wrap flex-col items-center mx-auto px-8 xl:px-12 text-sm">
      <button class="w-1/5 lg:w-1/6 text-white py-2 px-4 rounded-full border-indigo-500 border bg-color-purple text-center">
        <span>VER MAIS</span>
      </button>
  </div>
</section>