<div class="xl:container xl:mx-auto xl:px-20">
   <div class="container mx-auto pt-8 pb-8 xl:pt-10 xl:pb">
      <h1 class='font-bold text-3xl mb-4 leading-normal'>POLÍTICA DE PRIVACIDADE E PROTEÇÃO DE DADOS DA APLICAÇÃO MOBILIZAÇÃO DO PVE</h1>
      <div class="terms-conditions">
        <div class="">
           <p><span style="font-weight: 400;">O programa Parceria pela Valorização da Educação (PVE) se orgulha do compromisso de respeitar a privacidade e garantir a segurança dos dados dos Usuários. Assim, criamos esta Política para que o Usuário saiba que dados coletamos, usamos e transferimos por meio da aplicação Mobilização do PVE.</span></p>
           <p>&nbsp;</p>
           <p><strong>ESCOPO</strong></p>
           <p><span style="font-weight: 400;">Esta política consolida todos os compromissos da aplicação Mobilização do PVE relativos à coleta, guarda, segurança e utilização de dados pessoais dos Usuários, sendo parte integrante dos Termos e Condições de Uso. A proteção de dados é uma responsabilidade compartilhada entre a aplicação Mobilização do PVE e o Usuário.</span></p>
           <p>&nbsp;</p>
           <p><strong>LOGIN E SENHA</strong></p>
           <p><span style="font-weight: 400;">A Conta de Acesso compreenderá login e senha como credenciais de acesso. Estas credenciais devem ser tratadas como confidenciais e não devem ser compartilhadas com terceiros. O acesso à aplicação Mobilização do PVE deve ser sempre feito a partir de smartphones que contem com recursos de segurança atualizados.</span></p>
           <p><span style="font-weight: 400;"><br> </span><span style="font-weight: 400;">Para evitar o uso indevido da aplicação da aplicação Mobilização do PVE por terceiros, o Usuário é inteiramente responsável pela guarda e pelo sigilo de seu login e senha, comunicando imediatamente nosso Suporte ao usuário, através do e-mail </span><span style="font-weight: 400;">pve</span><span style="font-weight: 400;">@hardfunstudios.com, caso suspeite que terceiros possam ter tido acesso a estas credenciais. O Usuário é o único responsável pelas operações realizadas na aplicação Mobilização do PVE por meio de seu login.</span></p>
           <p><span style="font-weight: 400;"><br> </span><span style="font-weight: 400;">Em caso de suspeita de prática de ato ilícito ou de descumprimento dos Documentos, a aplicação Mobilização do PVE poderá bloquear, suspender ou cancelar a Conta de Acesso do Usuário, a qualquer tempo e a seu exclusivo critério, sem prejuízo de outras medidas que entender necessárias e oportunas.</span></p>
           <p>&nbsp;</p>
           <p><strong>COLETA DE DADOS DOS USUÁRIOS</strong></p>
           <p><span style="font-weight: 400;">Para prestar seus serviços pela internet, a aplicação Mobilização do PVE coleta um conjunto de dados pessoais dos Usuários, que pode ocorrer pelo preenchimento de formulários pelo próprio Usuário ou pela ação de mecanismos automatizados, como explicado abaixo.</span></p>
           <p><span style="font-weight: 400;"><br> </span><span style="font-weight: 400;"> O Usuário consente livremente as formas  de coleta mencionadas abaixo. </span></p>
           <p><span style="font-weight: 400;"><br> </span><span style="font-weight: 400;">Dados fornecidos pelo Usuário diretamente na aplicação: São os dados inseridos pelo Usuário na aplicação Mobilização do PVE, como, por exemplo, nome completo, endereço de e-mail, números de telefone, endereço, número de CPF, profissão, nacionalidade, etc.</span></p>
           <p><span style="font-weight: 400;"><br> </span><span style="font-weight: 400;">Dados dos Usuários fornecidos pelo Instituto Votorantim e seus parceiros: São os dados inseridos pelo Usuário em formulários próprios do Instituto Votorantim e parceiros técnicos e disponibilizados para a aplicação Mobilização do PVE, como, por exemplo, nome completo, endereço de e-mail, números de telefone, endereço, número de CPF, profissão, nacionalidade, etc.</span><span style="font-weight: 400;"><br> </span></p>
           <p>&nbsp;</p>
           <p><span style="font-weight: 400;">Dados coletados automaticamente: São os dados obtidos por tecnologias automáticas, como características do dispositivo de acesso, do navegador, IP (com data e hora), origem do IP, informações sobre cliques, páginas acessadas na aplicação Mobilização do PVE e aquelas acessadas ao sair da aplicação ou qualquer termo de procura digitado no site ou em referência a este, dentre outros. Estes dados são obtidos por meio de cookies, pixel tags, beacons e local shared objects. Cookies são pequenos arquivos de texto que armazenam preferências do Usuário. Pixel tags são blocos de códigos inseridos em um site para permitir a realização de certas ações, como ler e armazenar cookies. Beacons são pequenas imagens gráficas inseridas em um site, que permitem analisar os hábitos de seus usuários. Local shared objects são arquivos criados no computador do Usuário permitindo personalizar preferências da aplicação Mobilização do PVE. Tais tecnologias são utilizadas apenas com o propósito de melhorar a experiência de navegação do usuário na aplicação Mobilização do PVE, de acordo com seus hábitos e suas preferências. O Usuário pode configurar o seu navegador de forma a bloquear a operação de alguns destes. Neste caso, é possível que alguns recursos oferecidos pela aplicação deixem de funcionar corretamente.</span></p>
           <p>&nbsp;</p>
           <p><strong>USO DE DADOS DOS USUÁRIOS</strong></p>
           <p><span style="font-weight: 400;">Para prestar seus serviços pela internet, a aplicação Mobilização do PVE usa os dados pessoais coletados de diversas formas, indicadas abaixo.</span></p>
           <p>&nbsp;</p>
           <p><span style="font-weight: 400;"><br> </span><span style="font-weight: 400;"> O Usuário consente livremente as formas de uso  de seus dados mencionadas abaixo. </span></p>
           <p>&nbsp;</p>
           <p><span style="font-weight: 400;"><br> </span><span style="font-weight: 400;">A aplicação Mobilização do PVE trata todos os dados coletados como estritamente confidenciais. Assim, o seu uso será feito exclusivamente pela aplicação Mobilização do PVE visando a disponibilização de conteúdo ao Usuário e o compartilhamento de informações relevantes ao Usuário sobre o conteúdo por ele utilizado, assim como o compartilhamento de informações sobre Conteúdo disponibilizado pelo Usuário para terceiros.</span></p>
           <p>&nbsp;</p>
           <p><strong>ACESSO E CORREÇÃO DOS DADOS PELO USUÁRIO</strong></p>
           <p><span style="font-weight: 400;">O Usuário conectado à aplicação Mobilização do PVE mediante autenticação por login e senha poderá acessar seus dados por meio do Perfil do Usuário, onde poderá também atualizá-los e corrigi-los.</span></p>
           <p>&nbsp;</p>
           <p><strong>COMPARTILHAMENTO DE DADOS DOS USUÁRIOS</strong></p>
           <p><span style="font-weight: 400;">A aplicação Mobilização do PVE se compromete a, sempre que possível, manter a guarda exclusiva dos dados dos Usuários coletados em suas atividades. No entanto, o compartilhamento destes dados será necessário em algumas circunstâncias, particularmente para o compartilhamento das informações e Conteúdo disponibilizados pelo Usuário, ressaltando-se que o Usuário consente livremente quanto ao compartilhamento de seus dados, quando associado ao compartilhamento do Conteúdo disponibilizado pelo próprio Usuário e, ainda, relativo ao Conteúdo de terceiros utilizado pelo Usuário.</span></p>
           <p>&nbsp;</p>
           <p><span style="font-weight: 400;"> O Usuário também consente livremente as formas de compartilhamento de seus dados mencionadas abaixo. </span></p>
           <p>&nbsp;</p>
           <p><span style="font-weight: 400;">Mediante ordem judicial, a aplicação Mobilização do PVE compartilhará com o magistrado requerente quaisquer dados que lhe sejam solicitados;</span></p>
           <p>&nbsp;</p>
           <p><span style="font-weight: 400;">Mediante requerimento de autoridade administrativa competente, a aplicação Mobilização do PVE compartilhará com a respectiva autoridade dados cadastrais dos Usuários;</span></p>
           <p>&nbsp;</p>
           <p><span style="font-weight: 400;">Na defesa de seus interesses, em caso de conflito com o Usuário, a aplicação Mobilização do PVE compartilhará com o Poder Judiciário os dados relativos aos serviços prestados;</span></p>
           <p>&nbsp;</p>
           <p><span style="font-weight: 400;">No caso de transações e alterações societárias envolvendo as suas operações, a aplicação Mobilização do PVE compartilhará os dados às empresas envolvidas para garantir a continuidade dos serviços.</span></p>
           <p>&nbsp;</p>
           <p><strong>ARMAZENAMENTO DOS DADOS DOS USUÁRIOS</strong></p>
           <p>&nbsp;</p>
           <p><span style="font-weight: 400;">A aplicação Mobilização do PVE armazena os dados dos Usuários em servidores próprios ou contratados, empregando todos os esforços razoáveis de mercado para garantir a segurança lógica e física de seus sistemas e para dotar seus servidores de modernos mecanismos de segurança. Em todas as instâncias, os dados dos Usuários serão tratados sob confidencialidade estrita e a aplicação Mobilização do PVE manterá um registro de acesso aos dados por funcionários e prestadores de serviços. O armazenamento dos dados é garantido pelos mecanismos detalhados no item 9. Procedimentos de Segurança, abaixo.</span></p>
           <p>&nbsp;</p>
           <p><strong>EXCLUSÃO DE DADOS DOS USUÁRIOS INFORMAÇÕES</strong></p>
           <p>&nbsp;</p>
           <p><span style="font-weight: 400;">Mantemos os dados dos Usuários enquanto estiverem usando os serviços da aplicação Mobilização do PVE e durante um período razoável após o seu uso. Se o Usuário quiser excluir seus dados antes do período, deverá solicitar para o nosso Suporte. Por força do Marco Civil da Internet, a aplicação Mobilização do PVE deverá reter os registros de acesso pelos Usuários por pelo menos seis meses.</span></p>
           <p>&nbsp;</p>
           <p><strong>PROCEDIMENTOS DE SEGURANÇA</strong></p>
           <p><span style="font-weight: 400;">Atualmente, nenhuma empresa é capaz de garantir que os dados que trata não sejam alvo de acessos não autorizados, internos ou externos. Por outro lado, a aplicação Mobilização do PVE conta com modernas ferramentas de segurança, visando à mais eficiente proteção possível para os dados de seus Usuários. Preservar a segurança dos dados dos Usuários é um valor essencial de nossa operação.</span><span style="font-weight: 400;"><br> </span></p>
           <p><span style="font-weight: 400;">Assim, tomamos as seguintes medidas preventivas:</span></p>
           <p>&nbsp;</p>
           <p><span style="font-weight: 400;">Monitoramento permanente dos locais físicos onde se encontram nossos servidores;</span></p>
           <p>&nbsp;</p>
           <p><span style="font-weight: 400;">Restrição de acesso aos nossos servidores apenas aos funcionários essenciais para a operação;</span></p>
           <p>&nbsp;</p>
           <p><span style="font-weight: 400;">Proteção contratual dos dados dos Usuários expostos a funcionários da aplicação Mobilização do PVE;</span></p>
           <p><span style="font-weight: 400;"><br> </span><span style="font-weight: 400;">A aplicação Mobilização do PVE não solicita confirmação de dados por e-mail, nem envia mensagens contendo anexos executáveis (arquivos com extensão .exe, .com, .scr, .bat, .zip, .rar, .clp) ou links para download. Nossos e-mails com informes têm como remetente: PVE Mobilização [educacao@institutovotorantim.org.br]. Os e-mails de atendimento aos usuários são enviados a partir do seguinte endereço: suporte@escolasconectadas.org.br. Os links contidos em nossos e-mails estão direcionados à aplicação Mobilização do PVE ou ao site de empresas parceiras.</span></p>
           <p>&nbsp;</p>
           <p><strong>SUBORDINAÇÃO AOS TERMOS E CONDIÇÕES DE USO</strong></p>
           <p>&nbsp;</p>
           <p><span style="font-weight: 400;">Esta Política de Privacidade e Proteção de Dados está subordinada aos Termos e Condições de Uso e, em caso de divergência entre uma disposição desta Política e uma disposição dos Termos e Condições de Uso, esta última deverá prevalecer. Por fim, aplicam-se à presente Política todas as disposições gerais dos Termos e Condições de Uso.</span></p>
        </div>
      </div>
   </div>
</div>