<div class="container px-5 py-16 mx-auto">
  <div class="flex flex-wrap flex-col mx-auto w-full text-black font-bold py-4">
    <div class="flex flex-col items-center" id="familia-category-5">
      <span class='ml-1'><%= image_tag 'material-computer', class: 'w-9 h-9 flex-shrink-0' %></span>
      <span class='text-lg lg:text-base py-2'>Telas Abertas</span>
    </div>
    <div class="flex flex-col items-center" id="familia-category-6">
      <span class='ml-1'><%= image_tag 'simple-hipchat', class: 'w-9 h-9 flex-shrink-0' %></span>
      <span class='text-base py-2'>Dicas para Família</span>
    </div>
    <div class="flex flex-col items-center" id="familia-category-7">
      <span class='ml-1'><%= image_tag 'awesome-newspaper', class: 'w-9 h-9 flex-shrink-0' %></span>
      <span class='text-base py-2'>Eleições</span>
    </div>
  </div>
  <div class="flex flex-wrap px-4" id='post-cards-section'>
    <%= render partial: @posts, collection: @posts, locals: {size_class: 'lg:w-1/3 hidden'}, cache: true %>  
  </div>
  <div class="xl:container xl:mx-auto xl:px-20 py-4">
    <div class="flex flex-wrap flex-col items-center mx-auto px-8 xl:px-12 text-sm">
      <button
          class="w-1/5 lg:w-1/6 text-white text-lg lg:text-sm py-2 px-4 rounded-full border-indigo-500 border bg-color-purple text-center load-more"
          id='familias-ver-mais'>
        VER MAIS
      </button>
    </div>
  </div>
</div>