
<% @posts.each do |post| %>
  <% cache post do %>
    <div class="xl:w-1/3 md:w-1/2 p-4">
      <div class="border border-gray-300 p-6 rounded-lg">
        <%= post.post_content.html_safe %>  
      </div>
    </div>      
  <% end %>
<% end %>