<section class='section-top-gestores bg-left bg-very-light'>
  <div class="xl:container xl:mx-auto xl:px-20">
    <div class="container mx-auto px-24 lg:py-32 xl:py-32 py-24">
      <div class='w-full flex flex-wrap'>
        <div class="w-5/6 pr-8 xl:pr-32 flex flex-wrap content-center mx-auto">
          <p class="leading-snug text-xl text-black font-bold w-full mb-4">
            Dicas para Gestores
          </p>
          <p class="leading-6 text-2xl text-black w-full">
            <strong><%= @post.post_title %></strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-very-light xl:px-40 lg:px-32 px-8">
  <div class="xl:container xl:mx-auto bg-white p-16 border-r-2 border-l-2 border-gray-300 wordpress-theme">
    <%= @post.post_content.html_safe %>
  </div>
</section>
