.bg-color-orange {
  background-color: #F36B26;
}

.bg-very-light-blue {
  background-color: #F7FAFC;
}

.border-purple-1 {
  border-color: #584898 !important;
  outline-color: #584898 !important;
  border: solid 1px;
}

.home-top-bg-img {
  background: {
    image: asset_url("bg_home_top.png");
  }
}

#home-search-input {
  font-weight: bold;
  outline-color: #584898;
}

.full-bg-width {
  left: 0;
  position: absolute;
  width: 100%;
 // height: 100vh;
  z-index: -1;
  top: 0
}

.font-color-purple {
  color: #584898;
  mix-blend-mode: multiply;
}

.font-color-purple-light {
  color: #8477B5; 
  mix-blend-mode: multiply;
}

.font-color-white {
  color: #F9FAFF;
}

.font-color-orange {
  color: #F36B26;
  mix-blend-mode: multiply;
}

.login-button {
  position: absolute;
  background-color: #F9FAFF;
  border: 1px solid #F36B26;
  color: #584898;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  visibility: hidden;
}

.login-button:hover {
  background-color: #F36B26;
}

.menu-items {
  cursor: pointer;
  height:16px;
}

#section-matrizes-competencias {
  background: image-url('bg-matrizes.svg') no-repeat;
  background-size: auto 100%;
}