.bg-color-orange {
  background-color: #F36B26;
}

.bg-color-purple {
  background-color: #584898;
}

.bg-very-light-blue {
  background-color: #F7FAFC;
}

.border-purple-1 {
  border-color: #584898 !important;
  outline-color: #584898 !important;
  border: solid 1px;
}

.home-top-bg-img {
  background: asset_url("top-hero-header.png") no-repeat, asset_url("lower-hero-home.png") no-repeat;
  background-size: 1200px 250px, 80%;
  background-position: relative, relative;
  background-position-x: 60%, left;
  background-position-y: top, bottom;
  background-color: #F9FAFF;
}

#header-top-bg-img {
  background: asset_url("top-hero-header.png") no-repeat;
}

#home-search-input {
  font-weight: bold;
  outline-color: #584898;
}

.full-bg-width {
  left: 0;
  position: absolute;
  width: 100%;
 // height: 100vh;
  z-index: -1;
  top: 0
}

.font-color-purple {
  color: #584898;
  mix-blend-mode: multiply;
}

.font-color-purple-light {
  color: #8477B5; 
  mix-blend-mode: multiply;
}

.font-color-white {
  color: #F9FAFF;
  text-shadow: inherit;
}

.font-color-orange {
  color: #F36B26;
  mix-blend-mode: multiply;
}

.font-color-gray {
  color: #7C7C7C;
}

.font-color-blue {
  color: #5A90FF;
}

.font-color-blue-strong {
  color: #6A75FF;
}

.font-color-blue-stronger {
  color: #584898;
}

.login-button {
  position: absolute;
  background-color: #F9FAFF;
  border: 1px solid #F36B26;
  color: #584898;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  visibility: hidden;
}

.login-button:hover {
  background-color: #F36B26;
}

.menu-items {
  cursor: pointer;
  height:16px;
}

#section-matrizes-competencias {
  background: image-url('bg-matrizes.svg') no-repeat;
  background-size: auto 100%;
  background-position-x: 115%;
  
  button.active {
    background-color: #c5caff;
  }
}

#section-numeros {
  background-color: #F7FAFC;
}

#mapa-bg {
  background: image-url('mapa.png') no-repeat;
  background-size: auto 100%;
}

#numeros-bg {
  background: image-url('numeros-bg.png') no-repeat;
  background-size: auto 100%;
}

#section-pve-impact {
  background: image-url('bg-matrizes.svg') no-repeat;
  background-size: auto 100%;
  background-position-x: 128%;
}

#section-top-gestores {
  background: image-url('bg-gestores.svg') no-repeat;
  background-size: cover;
  background-position: center;
}

#top-buttons-gestores {
  button:hover, button.active {
    background-color: #584898;
    color: white;
    outline: none;
    
    img {
      filter: brightness(0) invert(1);
    }
  }
  
  button {
      min-height: 50px;
  }
}