.wordpress-theme {
  a {
    color: #6A75FF;
    text-decoration: underline;
  }
    
  h1 {
    font-size: x-large;
    margin-bottom: 1.25rem;
  }  
    
  h2 {
    font-size: large;
    margin-bottom: 1.25rem;
  }
  
  h3 {
    font-size: medium;
    margin-bottom: 1.25rem;
  }
  
  h4 {
    font-size: larger;
    margin-bottom: 1.25rem;
  }
  
  h5 {
    font-size: inherit;
    margin-bottom: 1.25rem;     
  }

  p {
    margin-bottom: 1rem;
    font-size: small;
  }
  
  iframe {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
  
  .aligncenter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}