<footer class="text-gray-700 body-font">

  <div class=" w-full mx-auto flex flex-wrap md:flex-row items-center footer-bg">

    <%= image_tag 'footer-img', {class: 'footer-img-specs mt-16 mb-48' } %>
    <%= image_tag 'book-footer', {class: '-ml-32 book-footer'} %>
    
  </div>
</footer>
