<footer class="text-gray-700 body-font">

  <div class=" w-full mx-auto flex-wrap items-center footer-bg">

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1000 335">     
        <a href="https://www.facebook.com/pvenacional">
            <circle id="facebook" cx="600" cy="220" r="10" opacity="0" width="32" height="35" />
        </a>
        <a href="https://api.whatsapp.com/send?phone=051999178624">
            <circle id="whatsapp" cx="622" cy="220" r="10" opacity="0" width="32" height="35" />
        </a>
    </svg>
    
  </div>
</footer>
