
<header class="text-gray-700 body-font lg:w-full">
  
  <div class="container header-size mx-auto flex flex-wrap p-2 pb-0 flex-col md:flex-row items-center">
  
    <a class="<%= @logo_header  %> -mt-10" href="/"></a>
     
    <nav class=" ml-4 -mt-16 lg:ml-20 xl:ml-32 md:mr-auto flex flex-wrap items-center text-base justify-center pb-4">
      <a class="leading-snug text-2xl -ml-32 mt-4 lg:mt-1 lg:text-xs lg:mr-12 lg:-ml-2 menu-items absolute" href="/pve">
        <strong class="<%= @text_color  %>">O PVE</strong>
      </a>

      <div class="dropdown mt-4 lg:mt-1 inline-block relative menu-items ml-48 mr-12 absolute">
        <span class="leading-snug text-2xl -ml-16 lg:text-xs lg:ml-0">
          <strong class="<%= @text_color  %> ">Ações</strong>
        </span>
        <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
          <li class=""><a class="rounded-t hidden bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Linha do tempo</a></li>
          <li class=""><a class="bg-gray-200 hidden hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Matrizes e competências</a></li>
          <li class=""><a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Onde estamos</a></li>
          <li class=""><a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">PVE em números</a></li>
        </ul>
      </div>

      <div class="text-right">
        <span class="leading-snug text-2xl -ml-4 lg:text-xs lg:ml-2 lg:mr-10 lg:-mt-1 menu-items absolute">
          <strong class="font-color-white" style="text-shadow: 0 0 3px #584898;">Junte-se a nós</strong>
        </span>
        <span class="leading-snug text-2xl margin-left-header lg:text-xs lg:ml-32 lg:mr-12 lg:-mt-1 menu-items absolute">
          <strong class="font-color-white" style="text-shadow: 0 0 3px #584898;">Últimas notícias</strong>
        </span>
      </div>
      <button class="login-button inline-flex items-center text-base">Entrar</button>
    </nav>
  </div>
</header>